temp.txt
obs_dump.json
env.txt
my_env_setup.txt
.env
__pycache__/
results/
prompts.txt
temp/
env_setup.txt
logs/
logs_test/
.vscode/
output/*
.auth/*
autoeval/log/*
env_setup.txt
config_files/*
program_html_evaluation.md